IndentWidth: 4
UseTab: Never
AlignConsecutiveMacros: true
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: true
AlignOperands: true
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
ColumnLimit: 140
